<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASP.NET Core Razor简介 | 了解 Razor Pages</title>
    <link href="./assets/libs/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="./assets/theme.css" rel="stylesheet" />
    <script>
        window.onload = function () {
            $("body").addClass("bg-light");
        }
    </script>
</head>
<body id="top">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md " id="sidebar">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <div data-toggle="tooltip" data-placement="right" data-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' title="了解 Razor Pages">
                <a class="navbar-brand" href="./index.html"><span class="text-center d-md-block">了解 Razor Pages</span></a>
            </div>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Divider -->
                <hr class="navbar-divider d-none d-md-block mt-0 my-3">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarIndex" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarIndex">主页</a>
                        <div class="collapse" id="sidebarIndex">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="./fristlook.html">初试</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="./Aspnetcore.html">ASP.NET Core</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarTutorials" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarTutorials">讲解</a>
                        <div class="collapse" id="sidebarTutorials">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="./bakery.html">面包店</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarRazorpages" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarRazorpages">Razor 页面文件</a>
                        <div class="collapse" id="sidebarRazorpages">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item"><a class="nav-link" href="./razor-pages.html">Razor 页面文件</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-files.html">Razor 文件</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-partial-pages.html">部分页</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-files-layout.html">布局</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-files-viewimports.html">ViewImports</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-files-viewstart.html">ViewStart</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="./razor-syntax.html">Razor 语法</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarPagemodel" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarPagemodel">Page Models</a>
                        <div class="collapse" id="sidebarPagemodel">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-pagemodel.html">Page Models</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-handler-methods.html">Handler 方法</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-viewdata.html">ViewData</a></li>
                                <li class="nav-item"><a class="nav-link" href="./razor-pages-action-results.html">结果返回</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarTaghelpers" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarTaghelpers">标签助手</a>
                        <div class="collapse" id="sidebarTaghelpers">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="./razor-pages-tag-helpers.html">标签助手</a></li><li><a class="nav-link" href="#">Anchor Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Cache Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Distributed Cache Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Environment Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Form Action Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Form Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Image Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Input Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Label Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Link Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Option Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Partial Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Script Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Select Tag Helper</a></li>
                                <li><a class="nav-link" href="#">TextArea Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Validation Tag Helper</a></li>
                                <li><a class="nav-link" href="#">Validation Summary Tag Helper</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">View Components</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarRouting" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarRouting">Routing and URLs</a>
                        <div class="collapse" id="sidebarRouting">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item"><a class="nav-link" href="#">Routing and URLs</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Customising Route Conventions</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Startup</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarConfiguration" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarConfiguration">Configuration</a>
                        <div class="collapse" id="sidebarConfiguration">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="#">Configuration</a></li>
                                <li><a class="nav-link" href="#">Global Error Handling And Logging</a></li>
                                <li><a class="nav-link" href="#">Custom Error Pages</a></li>
                                <li><a class="nav-link" href="#">Configuring HTTPS</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Middleware</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Dependency Injection</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarForms" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarForms">Working With Forms</a>
                        <div class="collapse" id="sidebarForms">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="#">Working With Forms</a></li>
                                <li><a class="nav-link" href="#">Uploading Files in Razor Pages</a></li>
                                <li><a class="nav-link" href="#">Working With Checkboxes</a></li>
                                <li><a class="nav-link" href="#">Select Lists in a Razor Pages Form</a></li>
                                <li><a class="nav-link" href="#">Working With Radio Buttons</a></li>
                                <li><a class="nav-link" href="#">Request Verification</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarValidation" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarValidation">Validation</a>
                        <div class="collapse" id="sidebarValidation">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="#">Validation</a></li>
                                <li><a class="nav-link" href="#">Remote Validation</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Model Binding</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">State Management</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Caching</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarIdentity" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarIdentity">Managing Security With ASP.NET Identity</a>
                        <div class="collapse" id="sidebarIdentity">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="#">Identity</a></li>
                                <li><a class="nav-link" href="#">Customising Identity</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarAjax" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarAjax">使用 AJAX</a>
                        <div class="collapse" id="sidebarAjax">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="#">AJAX</a></li>
                                <li><a class="nav-link" href="#">Posting Forms</a></li>
                                <li><a class="nav-link" href="#">Partial Page Updates</a></li>
                                <li><a class="nav-link" href="#">Cascading Dropdowns</a></li>
                                <li><a class="nav-link" href="#">Uploading Files</a></li>
                                <li><a class="nav-link" href="#">Unobtrusive AJAX</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Working with JSON</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Scaffolding</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Publishing To IIS</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarAdvanced" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarAdvanced">Advanced</a>
                        <div class="collapse" id="sidebarAdvanced">
                            <ul class="nav nav-sm flex-column">
                                <li><a class="nav-link" href="#">Advanced</a></li>
                                <li><a class="nav-link" href="#">Areas</a></li>
                                <li><a class="nav-link" href="#">Custom Tag Helpers</a></li>
                                <li><a class="nav-link" href="#">Customising Route Conventions</a></li>
                                <li><a class="nav-link" href="#">Custom Route Constraints</a></li>
                                <li><a class="nav-link" href="#">Parameter Transformers For Routes</a></li>
                                <li><a class="nav-link" href="#">Dependency Injection</a></li>
                                <li><a class="nav-link" href="#">Filters</a></li>
                                <li><a class="nav-link" href="#">Razor Class Libraries</a></li>
                                <li><a class="nav-link" href="#">Rendering A Partial View To A String</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Table Of Contents</a></li>
                </ul>
                <!-- Push content down -->
                <div class="mt-auto"></div>
            </div>
            <!-- /Navbar-collapse -->
        </div>
    </nav>
    <nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md " id="sidebarSmall"></nav>

    <div class="main-content">
        <nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
            <div class="container-fluid">
                <!-- Title -->
                <div class="input-group input-group-flush input-group-merge">
                    <div class="input-group-prepend">
                        <div class="input-group-text"></div><a id="tn">ASP.NET Core Razor技术指南</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="header bg-light pb-5">
            <div class="container-fluid">
                <!-- List -->
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <!-- Header -->
                        <div class="header header-sm mt-md-0">
                            <div class="header-body header-body-sm">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <!-- Pretitle -->
                                        <h6 class="header-pretitle"></h6>
                                        <!-- Title -->
                                        <h4 class="header-title"><strong>Razor 页面文件</strong></h4>
                                    </div>
                                </div>
                                <!-- /Row -->
                            </div>
                        </div>
                        <!-- /Header -->
                        <!-- ListContent -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div id="article">
                                            <h1 itemprop="headline" id="razor-pages">Razor 页面文件</h1>
                                            <div itemprop="articleBody">
                                                <p>所有 Razor 文件都以 <em>.cshtml</em> 结尾。大多数 Razor 文件都是可浏览的，并且包含客户端和服务器端代码的混合，在处理时，会将 HTML 发送到浏览器。 这些页面通常称为“内容页面”。 本节更深入地了解内容页面及其相关的 <a href="https://www.learnrazorpages.com/razor-pages/pagemodel">PageModel</a> 文件。</p>
                                                <h2 id="content-pages">内容页面</h2>
                                                <p>要使文件充当 Razor 内容页面，它必须具有三个特征： </p>
                                                <ul>
                                                    <li>它的文件名中不能是首字母下划线</li>
                                                    <li>文件扩展名是 <em>.cshtml</em></li>
                                                    <li>文件的第一行是 <code>@page</code></li>
                                                </ul>
                                                <p>将 <code>@page</code> 指令作为第一行代码是至关重要的。 如果不这样做，该文件将不会被视为 Razor 页面，并且如果您尝试浏览它也不会被找到。 <code>@page</code> 指令前可以有空格，但不能有任何其他字符，即使是空代码块。 与 <code>@page</code> 指令在同一行上允许的唯一其他内容是 <a href="https://www.learnrazorpages.com/razor-pages/routing#adding-constraints">route 模板</a>。</p>
                                                <p>内容页面可以指定<a href="https://www.learnrazorpages.com/razor-pages/files/layout">布局文件</a>，但这不是强制性的。 它们可以选择包含代码块、HTML、JavaScript 和内联 Razor 代码。</p>
                                                <h2 id="razor-syntax">Razor 语法</h2>
                                                <p>内容页面主要由 HTML 组成，但它们也包括 <a href="https://www.mikesdotnetting.com/article/153/inline-razor-syntax-overview">Razor 语法</a> 内容中的可执行 C# 代码。 C# 代码在服务器上执行，通常会导致发送到浏览器的响应中包含动态内容。</p>
                                                <h2 id="single-file-approach">单文件方法</h2>
                                                <p>尽管不推荐，但可以开发仅依赖于内容页面的 Razor Page 应用程序。 以下示例提供了一种与具有脚本编写背景的开发人员（如 PHP 或经典 ASP）所熟悉的方法最相似的方法：</p>
                                                <p><em>Example.cshtml</em>:</p>
<pre class="prettyprint linenums"><code class="language-html">@page 
@{
    var name = string.Empty;
    if (Request.HasFormContentType)
    {
        name = Request.Form["name"];
    }
}

&lt;div style="margin-top:30px;"&gt;
    &lt;form method="post"&gt;
        &lt;div&gt;Name: &lt;input name="name" /&gt;&lt;/div&gt;
        &lt;div&gt;&lt;input type="submit" /&gt;&lt;/div&gt;
    &lt;/form&gt;
&lt;/div&gt;
&lt;div&gt;
    @if (!string.IsNullOrEmpty(name))
    {
        &lt;p&gt;Hello @name!&lt;/p&gt;
    }
&lt;/div&gt;
</code></pre>
                                                <p>Razor 内容页面需要文件顶部的 <code>@page</code> 指令。 <code>HasFormContentType</code> 属性用于确定表单是否已发布，并在 Razor 代码块中引用 <code>Request.Form</code> 集合，并将其中的相关值分配给 <code>name</code> 变量。</p>
                                                <p>Razor 代码块由开头的 <code>@{</code> 表示，并以结束的 <code>}</code> 结束。 块内的内容是标准的 C# 代码。</p>
                                                <p>单个控制结构不需要代码块。 您可以简单地使用 <code>@</code> 符号作为前缀。 前面示例中的 <code>if</code> 块对此进行了说明。 </p>
                                                <p>要呈现 C# 变量或表达式的值，请使用 <code>@</code> 符号作为前缀，如 <code>if</code> 块中的 <code>name</code> 变量所示。 </p>
                                                <h2 id="functions-blocks">方法块</h2>
                                                <p>下一个示例产生与前一个示例相同的功能，但它使用 <code>@functions</code> 块来声明使用 <code>BindProperty</code> 属性修饰的公共属性，以确保 属性参与<a href="https://www.learnrazorpages.com/razor-pages/model-binding">模型绑定</a>，无需手动将表单值分配给变量。 </p>
                                                <p><em>Example.cshtml</em>:</p>
<pre class="prettyprint linenums"><code class="language-html">@page

@functions {
    [BindProperty]
    public string Name { get; set; }
}

&lt;div style="margin-top:30px;"&gt;
    &lt;form method="post"&gt;
        &lt;div&gt;Name: &lt;input name="name" /&gt;&lt;/div&gt;
        &lt;div&gt;&lt;input type="submit" /&gt;&lt;/div&gt;
    &lt;/form&gt;
    @if (!string.IsNullOrEmpty(Name))
    {
        &lt;p&gt;Hello @Name!&lt;/p&gt;
    }
&lt;/div&gt;
</code></pre>
                                                <p>这种方法虽然是对前一种方法的改进，它利用了强类型，同时处理逻辑可以限制在 <code>@functions</code> 块中，但页面将变得更加难以维护和测试。 不过，可以在 <code>@functions</code> 块中声明方法甚至嵌套类。</p>
                                                <p>您还可以使用 <code>@functions</code> 块来声明包含 HTML 的本地方法，以充当当前页面的显示助手。 如果页面有多个包含 HTML 的代码块并且需要应用类似的格式，则您可能会这样做。 这仅在 ASP.NET Core 3.x 中是可能的</p>
                                                <p>在以下示例中，声明了一个格式化 <code>DateTime</code> 值的方法：</p>
<pre class="prettyprint linenums"><code class="language-html">@functions{
    void DisplayDate(DateTime dt)
    {
        &lt;span class="date"&gt;@dt.ToString("dddd, dd MMMM yyyy")&lt;/span&gt;
    }
}
</code></pre>
                                                <p>同时，假如您想在页面中的何处使用此格式呈现日期，都可以执行以下操作： </p>
<pre class="prettyprint linenums"><code class="language-html">@DisplayDate(myDate)</code></pre>
                                                <p>如果您需要修改输出，这将非常有用，因为您只需要在一处进行更改。 </p>
                                                <p>在 Razor Pages 2.x 中可以做类似的事情，但必须在代码块中声明该方法，如下所示： </p>
<pre class="prettyprint linenums"><code class="language-html">@{
    Func&lt;DateTime, IHtmlContent&gt; DisplayDate = @&lt;span class="date"&gt;@item.ToString("dddd, dd MMMM yyyy")&lt;/span&gt;;
}
</code></pre>
                                                <p><code>item</code> 变量是一个特殊的变量，它引用传递给方法的第一个参数。同样用法, 但您需要为其添加一个 <code>using</code> 引用 <code>Microsoft.AspNetCore.Html</code></p>
                                                <h2 id="pagemodel-files">PageModel 文件</h2>
                                                <p>开发 Razor Pages 应用程序的推荐方法是将内容页面中的服务器端代码量降至最低。 任何与处理用户输入或数据相关的代码都应放在 <a href="https://www.learnrazorpages.com/razor-pages/pagemodel">PageModel 文件</a>中，它们相互一一对应与其相关内容页面的映射。 它们甚至共享相同的文件名，尽管在末尾有一个额外的 <em>.cs</em> 来表示它们实际上是 C# 类文件的事实。 </p>
                                                <p>以下代码显示了适用于 PageModel 的 <em>Example.cshtml</em> 文件：</p>
                                                <p><em>Example.cshtml</em>:</p>
<pre class="prettyprint linenums"><code class="language-html">@page
@model ExampleModel

&lt;div style="margin-top:30px;"&gt;
    &lt;form method="post"&gt;
        &lt;div&gt;Name: &lt;input asp-for="Name" /&gt;&lt;/div&gt;
        &lt;div&gt;&lt;input type="submit" /&gt;&lt;/div&gt;
    &lt;/form&gt;
    @if (!string.IsNullOrEmpty(Model.Name))
    {
        &lt;p&gt;Hello @Model.Name!&lt;/p&gt;
    }
&lt;/div&gt;
</code></pre>
                                                <p>这是 PageModel 类的代码： </p>
                                                <p><em>Example.cshtml.cs</em>:</p>
<pre class="prettyprint linenums"><code class="language-csharp">using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace RazorPages.Pages
{
    public class ExampleModel : PageModel
    {
        [BindProperty]
        public string Name { get; set; }
    }
}
</code></pre>
                                                <p>PageModel 类有一个属性，如前一个示例中所定义，并使用 <code>BindProperty</code> 属性进行修饰。 内容页面不再有 <code>@functions</code> 块，但它现在包含一个 <code>@model</code> 指令，指定 <code>ExampleModel</code> 是 页。 这也会在页面中启用<a href="https://www.learnrazorpages.com/razor-pages/tag-helpers">标签助手</a>，进一步利用编译时类型检查。 </p>
                                                <p>默认项目生成与 PageModel 文件配对的内容页面。 这是推荐的方法。 但是，了解如何在不需要 PageModel 的情况下使用内容页面也很有用。 </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 right-col">
                                        <div class="alert alert-light" role="alert">
                                            <a href="https://www.learnrazorpages.com/razor-pages">原文地址</a>
                                        </div>
                                        <div id="doc-outline" class="doc-outline well">
                                            <h3 class="doc-outline">快速导航</h3>
                                            <nav class="doc-outline">
                                                <ul>
                                                    <li><a href="#razor-pages" class="page-scroll">Razor 页面文件</a></li>
                                                    <li><a href="#content-pages" class="page-scroll">内容页面</a></li>
                                                    <li><a href="#razor-syntax" class="page-scroll">Razor 语法</a></li>
                                                    <li><a href="#single-file-approach" class="page-scroll">单文件方法</a></li>
                                                    <li><a href="#functions-blocks" class="page-scroll">方法块</a></li>
                                                    <li><a href="#pagemodel-files" class="page-scroll">PageModel 文件</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ListContent -->
                    </div>
                </div>
                <!-- /List -->
            </div>
        </div>
        <!-- /footer -->
        <footer style="text-align:center;">
            <p>© 2018 - 2021 - Mike Brind. All rights reserved. Contact me at Outlook.com</p>
            <p>更新于: 2021-03-27 22:44:29</p>
        </footer>
    </div>

    <a class="btn-scroll-top" href="#top" data-scroll="">
        <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2"></span>返回顶部
    </a>

    <script src="./assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="./assets/libs/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <script src="./assets/libs/bootstrap-4.4.1-dist/js/bootstrap.bundle.js"></script>
    <script src="./assets/theme.js"></script>
</body>
</html>